In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [31]:
df = pd.read_csv("final_internship_data.csv")

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 26 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   User ID            500000 non-null  object
 1   User Name          500000 non-null  object
 2   Driver Name        500000 non-null  object
 3   Car Condition      500000 non-null  object
 4   Weather            500000 non-null  object
 5   Traffic Condition  500000 non-null  object
 6   key                500000 non-null  object
 7   fare_amount        500000 non-null  float64
 8   pickup_datetime    500000 non-null  object
 9   pickup_longitude   500000 non-null  float64
 10  pickup_latitude    500000 non-null  float64
 11  dropoff_longitude  499995 non-null  float64
 12  dropoff_latitude   499995 non-null  float64
 13  passenger_count    500000 non-null  int64
 14  hour               500000 non-null  int64
 15  day                500000 non-null  int64
 16  month              500000 non-null  int64
 17  weekday            500000 non-null  int64
 18  year               500000 non-null  int64
 19  jfk_dist           499995 non-null  float64
 20  ewr_dist           499995 non-null  float64
 21  lga_dist           499995 non-null  float64
 22  sol_dist           499995 non-null  float64
 23  nyc_dist           499995 non-null  float64
 24  distance           499995 non-null  float64
 25  bearing            499995 non-null  float64
dtypes: float64(12), int64(6), object(8)
memory usage: 99.2+ MB

In [32]:
df.drop_duplicates(inplace=True)

In [33]:
df.dropna(inplace=True)
df.shape

(499995, 26)

In [ ]:
numeric_cols = df.select_dtypes(include='number').columns

for col in numeric_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    df = df[(df[col] >= lower_bound) & (df[col] <= upper_bound)]

df.reset_index(drop=True, inplace=True)

In [35]:

df['Car Condition'].replace({
    'Bad': 0,
    'Good': 1,
    'Very Good': 2,
    'Excellent': 3
}, inplace=True)

print(df['Car Condition'].unique())

C:\Users\egystar\AppData\Local\Temp\ipykernel_16072\816846152.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Car Condition'].replace({
C:\Users\egystar\AppData\Local\Temp\ipykernel_16072\816846152.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Car Condition'].replace({

[0 2 3 1]

In [36]:
df['Traffic Condition'].replace({
    'Flow Traffic': 0,
    'Dense Traffic': 1,
    'Congested Traffic': 2 
}, inplace=True)

print(df['Traffic Condition'].unique())

[2 0 1]

C:\Users\egystar\AppData\Local\Temp\ipykernel_16072\668409079.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Traffic Condition'].replace({
C:\Users\egystar\AppData\Local\Temp\ipykernel_16072\668409079.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Traffic Condition'].replace({

In [37]:
df['weekday'].replace({
    0: 'Monday',
    1: 'Tuesday',
    2: 'Wednesday',
    3: 'Thursday',
    4: 'Friday',
    5: 'Saturday',
    6: 'Sunday'
}, inplace=True)
df['month'] = df['month'].replace({
    1: 'January',
    2: 'February',
    3: 'March',
    4: 'April',
    5: 'May',
    6: 'June',
    7: 'July',
    8: 'August',
    9: 'September',
    10: 'October',
    11: 'November',
    12: 'December'
})

C:\Users\egystar\AppData\Local\Temp\ipykernel_16072\3396268163.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['weekday'].replace({

In [ ]:
df = pd.get_dummies(df, columns=['Weather','month','weekday'], drop_first=True)

In [ ]:
drop_cols = ['User ID', 'User Name', 'Driver Name', 'key','pickup_datetime','pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude']
df.drop(columns=drop_cols, inplace=True)

In [41]:
df.head()

,Car Condition,Traffic Condition,fare_amount,passenger_count,hour,day,year,jfk_dist,ewr_dist,lga_dist,...,month_May,month_November,month_October,month_September,weekday_Monday,weekday_Saturday,weekday_Sunday,weekday_Thursday,weekday_Tuesday,weekday_Wednesday
0,0,2,5.7,2,0,18,2011,43.597686,33.712082,19.865289,...,False,False,False,False,False,False,False,True,False,False
1,2,0,7.7,1,4,21,2012,42.642965,32.556289,21.063132,...,False,False,False,False,False,True,False,False,False,False
2,0,2,5.3,1,7,9,2010,43.329953,39.406828,15.219339,...,False,False,False,False,False,False,False,False,True,False
3,3,2,12.1,1,9,6,2011,42.335622,32.824930,20.648176,...,False,False,False,False,False,False,False,True,False,False
4,3,0,7.5,1,20,20,2012,42.563234,35.482608,18.113693,...,False,True,False,False,False,False,False,False,True,False